.action-main-box {
    border: 2px solid #8a8a8a;
    background: #ffffff;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 0px;
    margin-top: 20px !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
}

@media (max-width: 780px) {
    .action-main-box {
        display: table;
        width: 100%;
    }

    .action-main-box span {
        width: calc(50% - 10px);
    }
}

@media (min-width: 780px) {
    .action-main-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.action-main-box span {
    background: #e9ecef;
    color: #000000 !important;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 0px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin: 5px !important;
}

.action-main-box span:hover {
    background: linear-gradient(120deg, #f0c219 0%, #d26109 100%);
    color: #ffffff !important;
}

.businesses-main-container .first-inner:last-child {
    margin-left: 0px;
}

.businesses-main-container .amount-column {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
}

.third-inner > div > span {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2em;
    display: table;
}

.third-inner > div > ul {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    margin: 0;
    padding: 0 20px;
    margin-bottom: 15px;
}

.third-inner > ul:last-child {
    margin-bottom: 0;
}

.client-name-column {
    /* display: block; */
    font-weight: 400;
    color: #8a8a8a;
    margin-bottom: 10px;
}

.client-name-column:first-child {
    margin-top: 5px;
}

.client-name-column:last-child {
    margin-bottom: 0;
}

.businesses-main-container {
    padding: 0 15px 25px 15px;
}

.action-main-box {
    margin-top: 0px !important;
}

.business-column {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff !important;
    text-align: left;
    background: linear-gradient(120deg, #f0c219 0%, #d26109 100%);
    padding: 10px;
    border-radius: 0px;
}

.first-inner-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.action-column {
    font-size: 14px;
    font-weight: 400;
    color: #000000 !important;
    text-align: left;
    background: #e9ecef;
    padding: 10px;
    border-radius: 0px;
    margin: 0;
    cursor: pointer;
}

.inner:first-child .action-column {
    margin-right: 10px;
}

.action-column:hover {
    background: linear-gradient(120deg, #f0c219 0%, #d26109 100%);
    color: #ffffff !important;
}

.template-action {
    display: block;
    margin-top: 2px;
}

.template-action span {
    cursor: pointer;
}

.template-action span:hover {
    color:#00b5fd;
}

.table {
    cursor: auto;
}