body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #e9ecef;
    height: 100vh;
    position: relative;
    color: #000000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    overflow-y: scroll;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px #e9ecef inset !important;
    -webkit-text-fill-color: #000000 !important;
}

::selection {
    background: #8BC34A;
    color: #ffffff !important;
    -webkit-text-fill-color: #ffffff !important;
}

.loader {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #e9ecef;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    color: #8a8a8a;
    z-index: 999999999999999999;
    visibility: hidden;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.logout-button {
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
    border: 0;
    padding: 10px 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 0px;
    width: 100%;
    box-sizing: border-box;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    width: 100%;
    /* border: 2px solid #00b5fd !important; */
}

.body-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
}

.body-heading span {
    font-size: 18px;
}

.notification-box {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    padding: 20px 15px;
    border-radius: 0px;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.notification-box.success {
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}

.notification-box.error {
    background: linear-gradient(120deg, #ff5934 0%, #a50000 100%);
}

.schedule-date {
    display: block;
    background: #ddd;
    border: 1px solid #343a40;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.schedule-date span:first-child {
    font-weight: 700;
    text-decoration: underline;
}

.schedule-call-popup {
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(120deg, #ff5934 0%, #a50000 100%);
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    transition: all 0.2s ease;
    transform: translateY(140%);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.schedule-heading {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.schedule-heading span {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.schedule-heading i {
    font-size: 20px;
    cursor: pointer;
}

.popup-main {
    margin-top: 10px;
    padding: 10px;
    display: block;
    background: #a50000;
}

.schedule-call-popup .popup-main span {
    display: block;
    font-size: 14px;
    color: #f8f8f8;
}

.client-name-popup {
    text-decoration: underline;
}

.popup-action {
    margin-top: 10px;
    margin-bottom: 10px;
}